@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kaushan+Script|Sacramento|Satisfy&display=swap');

body {
  text-align: center;
}

.fondo-Inicio {

  background-image: linear-gradient(to right, #ffb6b9, #efb1ff, #f4dada);
  position: relative;
  height: 150vh;
  width: 100%;
  margin-top: -1%;
  clip-path: polygon(0% 15%, 100% 0%, 100% 80%, 0% 100%);
  box-sizing: border-box;

}

.fondo-Inicio2 {
  background-image: url('./assets/imagenes/Home.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: 0;

}

.Fondo_mision {
  background-image: linear-gradient(to right, #ffb6b9, #efb1ff, #f4dada);
  clip-path: polygon(0% 17.5%, 100% 0%, 100% 87%, 0% 100%);
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin-bottom: 3%;
}

hr {
  height: 25px;
  background-color: #f8dc88;
  border: none;

}

h1 {
  /*font-family: 'Dancing Script', cursive;*/
  /*font-family: 'Sacramento', cursive;*/
  /* font-family: 'Kaushan Script', cursive;*/
  font-family: 'Satisfy', cursive;
  font: black;
  text-align: center;
  font-size: 50px;
}
h2{
  font-family: 'Satisfy', cursive;
  font: black;
  text-align: center;
  font-size: 30px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  font-style: oblique;
}

.Principios {
  font: black;
  text-align: left;
  font-size: 30px;
  padding-top: 13%;
  padding-left: 3%;
}

.Valores {
  font: black;
  text-align: left;
  font-size: 30px;
  padding-top: 3%;
  padding-left: 3%;
}

.TextoPrincipios {

  font: black;
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-left: 7%;
  padding-right: 7%;

}

.TextoValores {

  font: black;
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-top: 1%;
  padding-left: 7%;
  padding-right: 7%;

}

.Circulo {
  width: 100px;
  height: 100px;
  border: 3px dotted #e990ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DiseñoImagines {
  width: 250px;
  height: 200px;
  border: 2px dashed #e93be0;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10%;
}

.ImagenesValores {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

/* Animación con keyframe llamada "latidos" */
@keyframes latidos {
  from {
    transform: none;
  }

  50% {
    transform: scale(1.4);
  }

  to {
    transform: none;
  }
}

/* En la clase corazon vamos a llamar latidos en la animación  */
.corazon {
  text-align: center;
  display: inline-block;
  font-size: 85px;
  text-shadow: 0 0 10px #222, 1px 1px 0 #450505;
  color: #fde2e2;
  animation: latidos 2.5s infinite;
  transform-origin: center;
}

.Footer {
  background:  linear-gradient(to right, #ffb6b9, #ffffff);
  padding: 24px;
  min-height: 30px;
  font-family: 'Kaushan Script';
  font-size: 14px;
}
.IconosFooter{
  color: #222;
  font-size: 23px;
}

.Mision {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 20px;
  padding: 3%;
}

.Icon {
  display: flex;
  justify-content: center;
  text-align: justify;
}

.Nosotros {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ImagenesPersonas {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Card{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 14px;
  margin-left: 10px;
}

/* -------------------------------------- navBar ------------------------------------------------------- */
.container{
  width: 80%;
  margin:  0 auto;
}

 header{
   background: #ffffff;
   /*background: #ffbcbc;*/
 }
header::after
{
  content: '';
  display:table ;
  clear: both;

}
.logo {
  float: left;
  width:  15%;
}
nav{
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0 35px;
  padding: 25px;
  position: relative;
}
nav a{
  font-family: 'Kaushan Script', cursive;
  color: #9a1f40;
  text-decoration: none;
  text-transform: uppercase;
}
  nav a:hover {
    color: #82c4c3;
  }

  nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #82c4c3 ;
    position: absolute;
    top: 0;
    transition:  all ease-in-out 250ms;
  }
  nav a:hover::before{
     width: 60%;
  }

  .IconosNav{
    color:#9a1f40 ;
    font-size: 30px;
  }
